<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="shortcut icon" href="images/bisstea.ico" />
		<meta charset="utf-8">
		<title>biss-tea</title>

		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/growl.css">
		<link rel="stylesheet" href="styles/login.css">
	</head>
	<body>
		<div class="container">

			<div style="text-align:right">
				<h4><a href="/signup">Sign up</a></h4>
			</div>

			<form action="/scripts/actions/login.php" class="form-signin" method="post">
				<h2 class="form-signin-heading">Please Sign In</h2>
				<label for="inputEmail" class="sr-only">Email address</label>
				<input type="email" name="email_name" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
				<label for="inputPassword" class="sr-only">Password</label>
				<input type="password" name="password_name" id="inputPassword" class="form-control" placeholder="Password" required>
				<div class="checkbox">
					<label>
						<input type="checkbox" value="remember-me"> Remember me
					</label>
				</div>
				<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
			</form>

		</div> <!-- /container -->
	</body>

	<script type="text/javascript" src="/assets/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/growl.js"></script>

	<script type="text/javascript">
		//growl message
		==growl==
	</script>



</html>
