<!-- TODO: fix this up so it looks right  -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="shortcut icon" href="images/bisstea.ico" />
		<meta charset="utf-8">
		<title>biss-tea</title>

		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="styles/login.css">
	</head>
	<body>
		<div class="container">

			<div style="text-align:right">
				<h4><a href="/login">Sign In</a></h4>
			</div>

			<form class="form-signin">
				<h2 class="form-signin-heading">Sign Up</h2>
				<label for="inputEmail" class="sr-only">Email address</label>
				<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
				<label for="inputPassword" class="sr-only">Password</label>
				<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
				<label for="inputPassword" class="sr-only">Password</label>
				<input type="password" id="inputPassword" class="form-control last-field" placeholder="Repeat Password" required>
				<button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
			</form>

		</div> <!-- /container -->
	</body>
</html>
